<!doctype html>
<html lang="en">

<head>
   

  
</head>

<body>
   {% extends 'base.html' %}
   {% load static %} 
   {% load crispy_forms_tags %}
  
   {% block content %}
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url({% static 'assets/images/page-banner-1.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Register</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'firstapp:index' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== PROVACY PART START ======-->

    <section class="signup pt-105 pb-120 gray-bg">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <div class="signup-content">
                    <form method="POST" class="uniForm">
                        {% csrf_token %}
                        <h2 class="form-title pb-20">Login</h2>
                        <div class="form-group" >
                            {{form|crispy}}
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group " style="display: inline-block;">
                                    <input type="submit" name="submit" id="submit" class="main-btn register-submit" value="Sign in"/>
                                </div>
                                
                                <div class="form-group" style="display: inline-block;float: right;">
                                    <ul class="" style="display: flex;font-size: 35px;">
                                        <li>
                                            <a href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook-f" style="margin-right: 20px;"></i></a>
                                        </li>
                                        <li><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i></a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </section>


    <!--====== FAQ PART ENDS ======-->
   
    {% endblock %}

</body>

</html>
