{% load static %}
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <!--====== PRELOADER PART START ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header id="header-part">
        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="header-contact">
                            <ul>
                                <li><i class="fa fa-envelope"></i><a href="#">bebirov@bk.ru</a></li>
                                <li><i class="fa fa-phone"></i><span>+994-55-817-94-96</span></li>
                            </ul>
                        </div> <!-- header contact -->
                    </div>
                    <div class="col-md-6">
                        <div class="header-right d-flex justify-content-end">
                            <div class="social d-flex">
                                <span class="follow-us">Follow Us :</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div> <!-- social -->
                            <div class="login-register">
                                <ul>
                                    <li><a href="">Login</a></li>
                                    <li><a href="{% url 'user:register' %}">Register</a></li>
                                </ul>
                            </div>
                        </div> <!-- header right -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->
        
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{% url 'firstapp:index' %}">
                                <img src="{% static 'assets/images/logo.png' %}" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="active" href="{% url 'firstapp:index' %}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:about' %}">About Us</a></li>
                                            <li><a href="{% url 'firstapp:gallery' %}">Gallery</a></li>
                                            <li><a href="{% url 'firstapp:policy' %}">Privacy Policy</a></li>
                                            <li><a href="{% url 'firstapp:faq' %}">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'firstapp:courses' %}">Courses</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:courses' %}">Courses</a></li>
                                            <li><a href="{% url 'firstapp:courses-single' %}">Course Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'firstapp:events' %}">Events</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:events' %}">Events List</a></li>
                                            <li><a href="">Event Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'firstapp:teachers' %}">Teachers</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:teachers' %}">teachers</a></li>
                                            <li><a href="{% url 'firstapp:teachers-single' %}">teacher Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'firstapp:blog' %}">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:blog' %}">Blog</a></li>
                                            <li><a href="">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'firstapp:shop' %}">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:shop' %}">Shop</a></li>
                                            <li><a href="">Shop Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'firstapp:contact' %}">Contact</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'firstapp:contact' %}">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-icon text-right">
                                <ul>
                                    <li><a href="javascript:void(0)" id="search"><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                                </ul>
                            </div> <!-- right icon -->
                        </nav> <!-- nav -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </header>
    
    <!--====== HEADER PART ENDS ======-->
   
    <!--====== SEARCH BOX PART START ======-->
    
    <div class="search-box">
        <div class="search-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- search form -->
    </div>
    
    <!--====== SEARCH BOX PART ENDS ======-->